openapi: 3.0.3
info:
  title: Richard Ewing — AI Economics & Governance Platform API
  description: Machine-readable API for accessing AI Economics diagnostic tools, research papers, framework specifications, and advisory pricing.
  version: 1.0.0
servers:
  - url: https://www.richardewing.io
    description: Production environment

paths:
  /.well-known/ai-agent-manifest.json:
    get:
      operationId: getAgentManifest
      summary: AI Agent Capability Manifest
      description: Returns capabilities, tools, authority domains, and interaction guidelines for AI agents crawling or interacting with richardewing.io
      responses:
        "200":
          description: AI Agent Manifest JSON
          content:
            application/json:
              schema:
                type: object

  /llms.txt:
    get:
      operationId: getLlmsTxt
      summary: Summary of site for LLMs
      description: Returns plain text summary of core concepts, frameworks, diagnostic tools, and authority claims for LLM ingestion
      responses:
        "200":
          description: LLM summary text
          content:
            text/plain:
              schema:
                type: string

  /llms-full.txt:
    get:
      operationId: getLlmsFullTxt
      summary: Comprehensive repository knowledge for LLMs
      description: Complete text archive of all 19 frameworks, 25 diagnostic tools, 56 glossary definitions, and 136 articles
      responses:
        "200":
          description: Full knowledge base text
          content:
            text/plain:
              schema:
                type: string

  /feed.xml:
    get:
      operationId: getRssFeed
      summary: RSS Feed of Engineering Economics Articles
      description: Standard RSS 2.0 XML feed of all published research papers and blog posts
      responses:
        "200":
          description: RSS XML Feed
          content:
            application/xml:
              schema:
                type: string

  /tools/pdi:
    get:
      operationId: getPdiTool
      summary: Product Debt Index (PDI) Calculator
      description: Diagnostic calculator that quantifies technical debt in dollar terms and projects Technical Insolvency Date
      responses:
        "200":
          description: PDI Calculator Page
          content:
            text/html:
              schema:
                type: string

  /tools/aueb:
    get:
      operationId: getAuebTool
      summary: AI Unit Economics Benchmark (AUEB) Calculator
      description: Calculates AI feature profitability per interaction before and after launch
      responses:
        "200":
          description: AUEB Calculator Page
          content:
            text/html:
              schema:
                type: string

  /tools/ev-se:
    get:
      operationId: getEvSeTool
      summary: Enterprise Value Scenario Engine (EV-SE)
      description: Models how technical debt decisions impact exit valuation multiples
      responses:
        "200":
          description: EV-SE Tool Page
          content:
            text/html:
              schema:
                type: string

  /framework:
    get:
      operationId: getFramework
      summary: Production AI Governance Framework
      description: The 6-pillar operational model for enterprise AI cost control, security, and governance
      responses:
        "200":
          description: Framework Overview Page
          content:
            text/html:
              schema:
                type: string

  /exogram:
    get:
      operationId: getExogramDocs
      summary: Exogram Runtime Governance Platform
      description: Technical documentation for Exogram deterministic AI governance runtime
      responses:
        "200":
          description: Exogram Platform Page
          content:
            text/html:
              schema:
                type: string

  /pricing:
    get:
      operationId: getAdvisoryPricing
      summary: Advisory service pricing
      description: Transparent pricing for Diagnostic ($2,500), Fractional CTO ($10,000/month), and Board Advisor engagements
      responses:
        "200":
          description: Pricing page
          content:
            text/html:
              schema:
                type: string
